/* print.css */

.print-only {
  display: none;
}

@media print {
  @page {
    size: letter;
    margin: 0mm;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    box-sizing: border-box !important;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
    width: 100%;
    background-color: white !important;
  }

  .print-page {
    width: 216mm;
    min-height: 279mm;
    position: relative;
  }

  .content-padding {
    padding: 5mm 15mm 25mm 15mm;
  }

  .footer-fixed {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  /* Control de saltos de página */
  .avoid-break {
    break-inside: avoid;
    page-break-inside: avoid;
    display: block;
    margin-bottom: 10px;
  }

  header img, footer img {
    width: 100%;
    display: block;
  }

  .avoid-break {
  break-inside: avoid !important;
  page-break-inside: avoid !important;
  display: block;
  position: relative;
}

.seccion-firmas {
  break-inside: avoid !important;
  page-break-inside: avoid !important;
  page-break-after: auto;
  margin-top: 30px;
}

.print-page {
  width: 216mm;
  height: auto !important; 
  min-height: 279mm;
}
}